html {
    background: white;
}

body {
    align-self: center;
    text-align: center;
    background: #EEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:4% 1%;
    padding: 1%;
    color: #414641; 
}

img {
    text-align: center;
    max-width: 100%;
    height: auto;
}

figcaption {
	font-size: 1.2rem;
	text-align: center;
	line-height: 1.5em;
	padding: 1em;
}

#img-div {
    background-color: white;
}

h1 {
    font-size: 3rem;
    line-height: 0.5;
}